extends ../templates/default 
block content
	center
		div(class='col-md-2 col-md-offset-5' align="center")
			form.form(action='http://localhost:3000/user/gestionar' method='post' autocomplete='on')
				
				input(type='text' name='ide' id='ide' placeholder='Idetificación' class='form-control btn-block')
				br
				input(type='text' name='us' id='us' placeholder='Usuario' class='form-control btn-block')
				br
				.col-xs-12.col-sm-6
					imput(type="button", id='btCrear', value='Crear', class='btn btn-success btn-block' onclick='RedireccionarABoton2()' )= 'Crear'
				.col-xs-12.col-sm-6
					imput(type="button", id='btModificar', value='Modificar', class='btn btn-info btn-block' onclick='RedireccionarABoton1()' )= 'Modificar'
					
				.col-xs-12.col-sm-12
					br
					button(type="submit", class='btn btn-danger btn-block' )= 'Eliminar'

			script(type='text/javascript').

							function RedireccionarABoton1(){
							var iden = document.getElementById("ide").value;
							//var usa = document.getElementById("us").value;
							location.href='http://localhost:3000/user/modificar/'+iden;
							}
							function RedireccionarABoton2(){
							var iden = document.getElementById("ide").value;
							console.log(iden);
							location.href='http://localhost:3000/user/registrar'; 
							}




	div(class=['ui', 'container', 'grid', 'stackable'])
	div( class=['sixteen', 'wide', 'column'])

		h4(class=['ui', 'header', 'blue', 'dividing', 'center'])= 'Lista de Usuarios'

		table(class=['ui', 'table table-striped', 'celled' , 'text-align:center'] id = 'tbl-usuarios')
			thead
				tr
					th='Identificacion'
					th='Nombre'
					th='Apellido'
					th='Usuarrio'
					th='fecha de nacimiento'
					th='Email'
					th='Telefono'
					th='Tipo'
					th='Fecha de registro'                
			tbody2
				each usuario in usuarios
					tr
						td(id='identificacion')= usuario.identificacion
						td= usuario.nombre
						td= usuario.apellido
						td= usuario.usuario
						td= usuario.nacimiento
						td= usuario.email
						td= usuario.telefono
						td= usuario.roll
						td= usuario.fecha_registro