extends ../templates/default.jade
link(rel="stylesheet" href="//js.arcgis.com/3.10/js/esri/css/esri.css")
link(rel="stylesheet" href="//esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css")

block content 

  h4= 'Bienvenido a su Panel  ' + user.nombre +' '+user.apellido
  if user.roll==1
    .col-xs-12.col-sm-3
      .w3-content.w3-section
        img.mySlides.w3-animate-top(src='../img/bar1-1.jpg')
        img.mySlides.w3-animate-bottom(src='../img/bar2-1.jpg')
        img.mySlides.w3-animate-top(src='../img/bar1-2.jpg')        
        img.mySlides.w3-animate-bottom(src='../img/bar2-3.jpg')
      script.
        var myIndex = 0;
        carousel();
        function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 3000);
        }
    .col-xs-12.col-sm-6
      button(type="submit" class='btn btn-success' onclick=" location.href='http://localhost:3000/user/gestionar' " )= 'Gestionar Usuario'
      p
      button(type="submit" class='btn btn-success' onclick=" location.href='http://localhost:3000/user/registrar/inmueble' " )= 'Gestionar Inmueble'
      p
      button(type="submit" class='btn btn-success' onclick=" location.href='https://www.arcgis.com/home/signin.html' " )= 'Gestionar Comuna'
      p
      button(type="submit" class='btn btn-success' onclick=" location.href='https://services6.arcgis.com/IAJw0xjkeHyQfZq8/arcgis/rest/services/caqueta/FeatureServer' " )= 'Gestionar Departamento'
      p
      button(type="submit" class='btn btn-success' onclick=" location.href='http://localhost:3000/user/visoradmin' " )= 'Visor mapping'
    .col-xs-12.col-sm-3
      img(src='../img/ama1.jpg')
      

  if user.roll==2
      style.
        .embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 55%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
      .embed-container
        small
          a(href='//sw3.maps.arcgis.com/apps/Embed/index.html?webmap=4901ec48eb0c4e59b373dc758ee3438f&extent=-75.6503,1.591,-75.5605,1.6363&home=true&zoom=true&scale=true&search=true&searchextent=true&details=true&disable_scroll=false&theme=dark', style='color:#0000FF;text-align:left', target='_blank') Ver mapa más grande
        br
        iframe(width='500', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', title='Proyecto sw3', src='//sw3.maps.arcgis.com/apps/Embed/index.html?webmap=4901ec48eb0c4e59b373dc758ee3438f&extent=-75.6503,1.591,-75.5605,1.6363&home=true&zoom=true&scale=true&search=true&searchextent=true&details=true&disable_scroll=false&theme=dark')
