extends ../templates/default 
block content
center
		div(class='col-md-2 col-md-offset-5')
			form.form(action='http://localhost:3000/user/gestionar' method='post' autocomplete='on')
				table(border='0')
					tbody
					tr
						td
						input(type='text' name='ide' id='ide' placeholder='Idetificación' class='form-control')
					tr
						td
						input(type='text' name='us' id='us' placeholder='Usuario' class='form-control')
					tr
						td
							tr
								center
									br
									td
									imput(type="button", id='btCrear', value='Crear', class='btn btn-default' onclick='RedireccionarABoton2()' )= 'Crear'
									
									td
									imput(type="button", id='btModificar', value='Modificar', class='btn btn-default' onclick='RedireccionarABoton1()' )= 'Modificar'
									td
									button(type="submit", class='btn btn-default' )= 'Eliminar'

			script(type='text/javascript').

							function RedireccionarABoton1(){
							var iden = document.getElementById("ide").value;
							//var usa = document.getElementById("us").value;
							location.href='http://localhost:3000/user/modificar/'+iden;
							}
							function RedireccionarABoton2(){
							var iden = document.getElementById("ide").value;
							console.log(iden);
							location.href='http://localhost:3000/user/registrar'; 
							}




	div(class=['ui', 'container', 'grid', 'stackable'])
	div(class=['sixteen', 'wide', 'column'])

		h2(class=['ui', 'header', 'blue', 'dividing'])= 'Lista de Usuarios'

		table(class=['ui', 'table', 'celled'] id = 'tbl-usuarios')
			thead
				tr
					th='Identificacion'
					th='Nombre'
					th='Apellido'
					th='Usuarrio'
					th='fecha de nacimiento'
					th='Email'
					th='Telefono'
					th='Tipo'
					th='Fecha de registro'                
			tbody2
				each usuario in usuarios
					tr
						td(id='identificacion')= usuario.identificacion
						td= usuario.nombre
						td= usuario.apellido
						td= usuario.usuario
						td= usuario.nacimiento
						td= usuario.email
						td= usuario.telefono
						td= usuario.roll
						td= usuario.fecha_registro