nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")= 'Inmobiliaria Amazonia'

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
        if !isAuthenticated
          li
            a(href="http://localhost:3000/login/registrar")= 'Registrarse'
          li
            a(href="http://localhost:3000/login/inicioSec")= 'Iniciar Sesion'
        if isAuthenticated   
          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= user.nombre
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="http://localhost:3000/user/perfil")= 'Perfil'
              li
                a(href="http://localhost:3000/login/salir")= 'Cerrar Sesion'
              if user.roll==2 
                li
                  a(href="http://localhost:3000/user/panel")= 'Visor'

              if user.roll==1
                li
                  a(href="http://localhost:3000/user/visoradmin")= 'Visor'
                li
                  a(href="http://localhost:3000/user/gestionar")= 'Panel'

